################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FizzBuzz/bin/Debug/net8.0
/FizzBuzz/obj
/FizzBuzz.UnitTests/bin/Debug/net8.0
/FizzBuzz.UnitTests/obj
/obj/Debug/net8.0
